<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#943526">


    <link rel="apple-touch-icon" sizes="180x180"
                                 href="/apple-touch-icon.png?v=E6b42rb5P">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=E6b42rb5P"
                                      sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=E6b42rb5P"
                                      sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=E6b42rb5P">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=E6b42rb5P"
                          color="#22b0b0">
    <link rel="shortcut icon" href="/favicon.ico?v=E6b42rb5P">

	{% if page.thumbnail %}
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/{{ page.thumbnail }}">
	{% else %}
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/thumbnail.jpg">
	{% endif %}

	{% if page.title %}
	<meta property="og:title" content="{{ site.title }} • {{ page.title }}">
	{% else %}
	<meta property="og:title" content="{{ site.title }}">
	{% endif %}

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}">

	<link rel='stylesheet' id='libretto-fonts-css'  href='https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C700%2C400italic%7CPlayfair+Display%3A400%2C700%2C400italic%2C700italic%7CPlayfair+Display+SC%3A700%2C700italic%7CMontserrat%3A400%7CDroid+Sans+Mono%3A400&#038;subset=latin%2Clatin-ext' type='text/css' media='all'>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
